body {
  background-color: lightblue;
}

#info {
	
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 16px;
	font-weight: 
	letter-spacing: -1px;
	border-bottom: 1px solid #999;
}


#summary {
	
	margin: 0 0 16px 0;
	padding: 0 0 9px 0;
	font-size: 16px;
	font-weight: 
	letter-spacing: -1px;
	border-bottom: 1px solid #999;
}

#Work-Experience {
	
	margin: 0 0 9px 0;
	padding: 0 0 9px 0;
	font-size: 20px;
	font-style: bold;
	letter-spacing: -1px;
	
}

#jobs {
	
	margin: 0 0 9px 0;
	padding: 0 0 9px 0;
	font-size: 16px;
	font-style: bold;
	letter-spacing: 1px;
	border-bottom: 1px solid #999;
}
